/* General */

/* Font Gentlemen */

@font-face {
    font-family: 'gentleman_400light';
    src: url('../fonts/gentleman-font/gentleman-400-light-webfont.eot');
    src: url('../fonts/gentleman-font/gentleman-400-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gentleman-font/gentleman-400-light-webfont.woff2') format('woff2'),
         url('../fonts/gentleman-font/gentleman-400-light-webfont.woff') format('woff'),
         url('../fonts/gentleman-font/gentleman-400-light-webfont.ttf') format('truetype'),
         url('../fonts/gentleman-font/gentleman-400-light-webfont.svg#gentleman_400light') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gentleman_600regular';
    src: url('../fonts/gentleman-font/gentleman-600-regular-webfont.eot');
    src: url('../fonts/gentleman-font/gentleman-600-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gentleman-font/gentleman-600-regular-webfont.woff2') format('woff2'),
         url('../fonts/gentleman-font/gentleman-600-regular-webfont.woff') format('woff'),
         url('../fonts/gentleman-font/gentleman-600-regular-webfont.ttf') format('truetype'),
         url('../fonts/gentleman-font/gentleman-600-regular-webfont.svg#gentleman_600regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gentleman_800bold';
    src: url('../fonts/gentleman-font/gentleman-800-bold-webfont.eot');
    src: url('../fonts/gentleman-font/gentleman-800-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gentleman-font/gentleman-800-bold-webfont.woff2') format('woff2'),
         url('../fonts/gentleman-font/gentleman-800-bold-webfont.woff') format('woff'),
         url('../fonts/gentleman-font/gentleman-800-bold-webfont.ttf') format('truetype'),
         url('../fonts/gentleman-font/gentleman-800-bold-webfont.svg#gentleman_800bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: gentleman_400light, roboto, sans-serif;
    overflow-x: hidden;
}

body.overflow {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: gentleman_800bold, roboto, sans-serif;
}

p {
    font-family: gentleman_400light, roboto, sans-serif;
    color: #1F1C14;
}

strong {
    font-family: gentleman_600regular, roboto, sans-serif;
}

.default_color{background-color: #E26D5A !important}

.default_color_text{color: #E26D5A !important}

.nav-wrapper {
    background-color:#E26D5A;
}

#logo-container img {
    max-height: 64px;
    width: 90%;
}

#index-banner {
    background-color: #E26D5A;
}

.span-h {font-weight: 300;color: #E26D5A;}

.text_b{color: #E26D5A;}

.promo i {
    color: #E26D5A;
}

a, a:link, a:visited {
    color: #2589BD;
    transition: all 0.3s ease;
}

a:hover, a:active {
    color: #4464AD;
}

.btn, a.btn, button, button.btn {
    background-color: #F0A202;
    color: #ffffff;
}

.btn:hover, a.btn:hover, button:hover, button.btn:hover {
    background-color: #F0A202;
    color: #ffffff;
}

.card a:hover, .card a:active {
    color: #4464AD;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=date]:focus, input[type=tel]:focus, input[type=number]:focus, input[type=search]:focus, textarea:focus.materialize-textarea {
    border-bottom: 1px solid #4464AD;
    -webkit-box-shadow: 0 1px 0 0 #4464AD;
    -moz-box-shadow: 0 1px 0 0 #4464AD;
    box-shadow: 0 1px 0 0 #4464AD;
}

.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=url]:focus + label, .input-field input[type=date]:focus + label, .input-field input[type=tel]:focus + label, .input-field input[type=number]:focus + label, .input-field input[type=search]:focus + label, .input-field textarea:focus.materialize-textarea + label {
    color: #4464AD;
}

.input-field .prefix.active {
    color: #4464AD;
}

footer a.white-text:active, footer a.white-text:hover {
    color: #F0A202 !important;
}

/* SPECIFIC FOR ANIMATION */

/* Styling circle that scales */
.circle-link {
    width: 100px;
    height: 100px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.round-link.absolute {
    position: absolute;
    top: 0;
    left:0;
}

.round-link.active {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: fixed;
    z-index: 15;
}

/* Hiding */
.under-everything {
    z-index: -2 !important;
}

/* Styling Modal */
.modal-card {
    opacity: 0;
    display: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.show-modal {
    position: absolute;
    z-index: 20;
    background: #e6e8e6;
}

.modal-content {
    overflow-y: scroll;
}

/* Styling Close Button */
.modal-close {
    position: fixed;
    top: 0.5em;
    right: 1em;
    font-size: 3em;
    z-index: 30;
    cursor: pointer;
    width: 60px;
    height: 45px;
}

    .modal-close span:nth-child(1) {
        display: block;
        position: absolute;
        left: 0;
        height: 100%;
        width: 3px;
        background: #ddd;
        transition: all 0.2s ease-out;
        transition-delay: 0s;
        transform: rotate(45deg) scale(0);
    }

    .modal-close span:nth-child(2) {
         display: block;
        position: absolute;
        left: 0;
        height: 100%;
        width: 3px;
        background: #ddd;
        transition: all 0.2s ease-out;
        transition-delay: 0s;
        transform: rotate(-45deg) scale(0);
    }

    .modal-close.show span:nth-child(1) {
        transform: rotate(45deg) scale(1);
        transition-delay: 0.7s;
    }

    .modal-close.show span:nth-child(2) {
        transform: rotate(-45deg) scale(1);
        transition-delay: 0.7s;
    }

.modal-close:hover span {
    background: #cccccc;
}

/* Styling Modal Img */
.card .project-img.hidden {
    opacity: 0;
}

/* SWAG */

/* Styling New Img */

.project-img-bigger.active {
    z-index: 50;
}

.project-img-bigger {
    position: absolute;
    display: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


/* Styling Fixed Footer (Fix for class relative to modal materialize) */
.modal-fixed-footer .modal-footer {
  position: absolute;
  bottom: 0;
}

.modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: transparent;
  padding: 4px 6px;
  height: 56px;
  width: 100%;
}

.modal-fixed-footer, .modal-content {
    height: 100%;
}

.modal-footer .btn-floating.right {
    margin-right: 1em;
    background-color: #F0A202;
}

/* Styling Scrollbar */
.modal-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.modal-content::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.modal-content::-webkit-scrollbar-thumb
{
	background-color: #E26D5A;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

