body {
    font-family: roboto, sans-serif;
    overflow-x: hidden;
}

body.overflow {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: gentleman_800bold, roboto, sans-serif;
}

p {
    font-family: gentleman_400light, roboto, sans-serif;
    color: #1F1C14;
}

strong {
    font-family: gentleman_600regular, roboto, sans-serif;
}

.default_color{background-color: #E26D5A !important}

.default_color_text{color: #E26D5A !important}

.nav-wrapper {
    background-color:#E26D5A;
}

#logo-container img {
    max-height: 64px;
    width: 90%;
}

.cd-headline.type .cd-words-wrapper {
    vertical-align: top;
    overflow: hidden;
}

.cd-headline.type .cd-words-wrapper::after {
    /* vertical bar */
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 1px;
    background-color: #aebcb9;
}

.cd-headline.type .cd-words-wrapper.waiting::after {
    -webkit-animation: cd-pulse 1s infinite;
    -moz-animation: cd-pulse 1s infinite;
    animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
    background-color: #FFF;
}

.cd-headline.type .cd-words-wrapper.selected::after {
    visibility: hidden;
}

.cd-headline.type .cd-words-wrapper.selected b {
    color: #2196F3;
}

.cd-headline.type b {
    visibility: hidden;
}

.cd-headline.type b.is-visible {
    visibility: visible;
}

.cd-headline.type i {
    position: absolute;
    visibility: hidden;
}
.cd-headline.type i.in {
    position: relative;
    visibility: visible;
}

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}
@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -moz-transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-50%) scale(0.9);
        -moz-transform: translateY(-50%) scale(0.9);
        -ms-transform: translateY(-50%) scale(0.9);
        -o-transform: translateY(-50%) scale(0.9);
        transform: translateY(-50%) scale(0.9);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
        opacity: 0;
    }
}


@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0;
        font-size: 5em;
        font-weight: 100;
        color: white;
    }
}

nav a.button-collapse {
    left: -25px;
}

.span-h {font-weight: 300;color: #E26D5A;}

.text_b{color: #E26D5A;}

.promo i {
    color: #E26D5A;
}

a, a:link, a:visited {
    color: #2589BD;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover, a:active {
    color: #4464AD;
}

.btn, a.btn, button, button.btn {
    background-color: #F0A202;
    color: #ffffff;
    cursor: pointer;
}

.btn:hover, a.btn:hover, button:hover, button.btn:hover {
    background-color: #F0A202;
    color: #ffffff;
}
.icon-block {
    padding: 0 15px;
}

#index-banner {
    min-height: 632px;
    max-height: 864px;
    position: relative;
    background-color: #E26D5A;
}

#nav_f{
    box-shadow: none !important; 
    -webkit-box-shadow:none !important;
}

.text_h {
    padding: 15% 0;
    font-size: 6.0em;
    font-weight: 100;
    color:white;
}

.text_h2 {font-weight: 100;margin-bottom: 4%; line-height: 4.5rem;}

.in{font-weight: 400 !important; font-style: normal !important;}

.promo i {
    font-size: 7rem;
    display: block;
}

nav ul a {
    font-size: 1.2rem;
    color: #FFF;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
}

.navbar-fixed {
    z-index: 10;
}

nav .a, nav a:link, nav a:visited {
    color: #ffffff;
}

    nav .nav-mobile .a, nav .nav-mobile a:visited {
        color: #2589BD;
    }

    nav a:hover, nav .nav-mobile a:active {
        color: #4464AD;
    }

.cd-headline.type .cd-words-wrapper.selected b {
    color: #E26D5A;
}

.card a:hover, .card a:active {
    color: #4464AD;
}

#intro, #work, #team {padding-top: 4rem;}

#work, #team{background: #e6e8e6; }

.section.lion, .section.lion .container:first-child, .section.lion .container:first-child .row, .section.lion .container:first-child .row .col {
        padding: 0;
        overflow-x: hidden;
    }
        
    .section.lion .container:first-child {
        width: 100%;
        max-width:100%;
    }
        
    .section.lion .container canvas {
        margin: 0 auto;
        display: block;
    }

.waves-effect, .card .card-title.activator {
    cursor:auto;
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px;
}

.card-avatar .card-content {
    text-align: center;
}

.card .card-content p {
    margin: 15px 0px;
}

.card-avatar .card-content i {
   font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
    line-height: 30px !important;
}

.parallax-container {
    max-height: 400px;
}

footer.page-footer {
    margin-top: 0px !important;
}

.card-avatar img {
    height: auto;
    width: 180px;
    border-radius: 90px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=date]:focus, input[type=tel]:focus, input[type=number]:focus, input[type=search]:focus, textarea:focus.materialize-textarea {
    border-bottom: 1px solid #4464AD;
    -webkit-box-shadow: 0 1px 0 0 #4464AD;
    -moz-box-shadow: 0 1px 0 0 #4464AD;
    box-shadow: 0 1px 0 0 #4464AD;
}

.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=url]:focus + label, .input-field input[type=date]:focus + label, .input-field input[type=tel]:focus + label, .input-field input[type=number]:focus + label, .input-field input[type=search]:focus + label, .input-field textarea:focus.materialize-textarea + label {
    color: #4464AD;
}

.input-field .prefix.active {
    color: #4464AD;
}

footer a.white-text:active, footer a.white-text:hover {
    color: #F0A202 !important;
}


.round-link {
    width: 100px;
    height: 100px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.round-link.absolute {
    position: absolute;
    top: 0;
    left:0;
}

.round-link.active {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: fixed;
    z-index: 15;
}

.under-everything {
    z-index: -2 !important;
}

.modal-card {
    position: absolute;
    left: 500%;
    opacity: 0;
    display: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.modal-content {
    overflow-y: scroll;
    overflow-x: hidden;
}

.modal-fixed-footer .modal-footer {
  position: absolute;
  bottom: 0;
}


.modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: transparent;
  padding: 4px 6px;
  height: 56px;
  width: 100%;
}

.modal-footer .btn-floating.right {
    margin-right: 1em;
}

.modal-fixed-footer, .modal-content {
    height: 100%;
}

.modal-content iframe {
    width: 100%;
    height: 100%;
}

.modal-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.modal-content::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.modal-content::-webkit-scrollbar-thumb
{
	background-color: #E26D5A;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

.show-modal {
    position: absolute;
    z-index: 20;
    background: #e6e8e6;
}

.modal-close {
    position: fixed;
    top: 0.5em;
    right: 1em;
    font-size: 3em;
    z-index: 30;
    cursor: pointer;
    width: 60px;
    height: 45px;
}

    .modal-close span:nth-child(1) {
        display: block;
        position: absolute;
        left: 0;
        height: 100%;
        width: 3px;
        background: #ddd;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transform: rotate(45deg) scale(0);
        -ms-transform: rotate(45deg) scale(0);
        transform: rotate(45deg) scale(0);
    }

    .modal-close span:nth-child(2) {
         display: block;
        position: absolute;
        left: 0;
        height: 100%;
        width: 3px;
        background: #ddd;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transform: rotate(-45deg) scale(0);
        -ms-transform: rotate(-45deg) scale(0);
        transform: rotate(-45deg) scale(0);
    }

    .modal-close.show span:nth-child(1) {
        -webkit-transform: rotate(45deg) scale(1);
        -ms-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
        -webkit-transition-delay: 0.7s;
        transition-delay: 0.7s;
    }

    .modal-close.show span:nth-child(2) {
        -webkit-transform: rotate(-45deg) scale(1);
        -ms-transform: rotate(-45deg) scale(1);
        transform: rotate(-45deg) scale(1);
        -webkit-transition-delay: 0.7s;
        transition-delay: 0.7s;
    }

.modal-close:hover span {
    background: #cccccc;
}
    

/* fix materializa */
.modal-container .modal {
    display: block;
    opacity: 1;
}

.waves-effect {
    z-index: auto;
}

.card .project-img.hidden {
    opacity: 0;
}

/* prova 2 */

.project-img-bigger.active {
    z-index: 50;
}

.project-img-bigger {
    position: absolute;
    display: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#study {
    position: relative;
}

div.fixed-links div i {
    font-size: 10em;
    text-align: center;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

div.fixed-links div i span {
    display: block;
    font-size: 2rem;
    font-family: "gentleman_400light";
    text-align: center;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-size: 1rem;
}

div.fixed-links div i:hover {
    opacity: 1;
}

div.fixed-links div i:hover span {
    opacity: 1;
}

div.fixed-links .previous i {
    float: left;
}

div.fixed-links .previous i span {
    margin-left: 2%;
}

div.fixed-links .next i {
    float: right;
}

div.fixed-links .next i span {
    margin-right: 2%;
}

div.fixed-links .clearfix {
    clear: both;
}

@media only screen and (min-width : 993px) {
    div.fixed-links div i {
        position: absolute; 
        opacity: 0.2;
    }
    
    div.fixed-links .previous i {
        float: none;
        top: 50%;
        left: 0;
        -webkit-transform: translate(2%,-50%);
        -ms-transform: translate(2%,-50%);
        transform: translate(2%,-50%);
    }

    div.fixed-links .next i {
        float: none;
        top: 50%;
        right: 0;
        -webkit-transform: translate(2%,-50%);
        -ms-transform: translate(2%,-50%);
        transform: translate(2%,-50%);
    }
    
    div.fixed-links div i span {
        opacity: 0;
    }
}

.social-share.fixed {
    position: fixed;
    bottom: 2%;
    left: 2%;
}

@media only screen and (min-width : 993px) {
    .social-share.fixed {
        right: 2%;
    }
}

.social-share.fixed a {
    margin-left: 1em;
}

a.share-fb, a.share-fb:hover, a.share-fb:active {
    background-color:#3B5998;
}

a.share-tw, a.share-tw:hover, a.share-tw:active {
    background-color:#55acee;
}

a.share-gp, a.share-gp:hover, a.share-gp:active {
    background-color:#d34836;
}

a.link-originale {
    display: block;
}
